body{
    background-color: #3A1781;
}

.pokemon{
        width: 7em;
    height: 7em;
    margin-left: 1em;
    margin-top: 1em;
}
.close{
     font-size: 1em;
    font-family: 'Finger Paint';;
    color: #fff;
    background-color: #990000;
    display: inline-flex;
    margin-left: 9em;
    margin-top: 0em;
    border: 0.4em solid #480202;
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
}
.knock{
    width: 3em;
    height: 3m;
    
}
.box {
    background-color: #BDBD0C;
    border: 1em solid #6B6E0D;
    display: grid;
    justify-content: stretch; 
    justify-items: center; 
    margin-left: 20em;
    margin-right: 15em;
    border-radius: 30px;
    margin-top: -90px;

}

.pokemonnaam{
    font-size: 2em;
    font-family: 'Inter';
    color: black;
}
.moves-list {
    color: black;
    list-style-type: disc;
  margin-left: 2em;
   font-size: 1.8em;
    font-family: 'Inter';
    justify-self: start;

    
}


.move-header {
    display: flex;
    align-items: center;
    gap: 10px; 
}


.Text, .description {
    margin: 0;
    color: black;
}

.Text {
    font-size: 0.8em;
}

.description {
    font-size: 0.5em;
    margin-top: 5px;   
    margin-bottom: 10px; 
}

.move-icon {
    height: 1.5em; 
    width: auto;
}
.blow{
        background-color: #0A6D3C;
    border: 0.4em solid #024804 ;
    border-radius: 15px;
    font-size: 1em;
    font-family: 'Finger Paint';;
    color: #fff;
    text-transform: uppercase;
    justify-self: center;
    display: flex;
    gap: 10px;
    padding-left: 1em;
    padding-right: 1em;
}
.blowimg{
    height: 2.5em;
    margin-top: 1.4em;
}