body{
    background-color: #3A1781;
}
.start{
    margin-top: 5em;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 7em;
}
.logo{
    width: 30em;
    padding-left: 5em;
}
.button{
    background-color: #0A6D3C;
    border: 0.2em solid #024804 ;
    border-radius: 10px;
    font-size: 3.5em;
    font-family: 'Finger Paint';;
    color: #fff;
    text-transform: uppercase;
    width: 11em;
    justify-self: center;
}

